<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.nalivajr.anuta.sample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/anuta_icon_128"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="by.nalivajr.anuta.sample.TestApplication">
        <activity
            android:name="by.nalivajr.anuta.sample.ui.SampleActivity"
            android:label="Anuta View Injection Sample"
            android:icon="@drawable/anuta_vi_icon_128">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.nalivajr.anuta.sample.ui.AdapterSampleActivity"
            android:label="Anuta Adapter test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.nalivajr.anuta.sample.database.DatabaseSampleActivity"
            android:label="Anuta EntityManager Test"
            android:icon="@drawable/anuta_db_icon_128">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="by.nalivajr.anuta.sample.authority"
            android:name="by.nalivajr.anuta.sample.database.SampleProvider"
            android:exported="false"/>
    </application>

</manifest>
